stages:
  - test

variables:
  # ci
  CI_TEMPLATE_REGISTRY_HOST: "docker.io"

  # cache config
  APT_CACHE_DIR: "$CI_PROJECT_DIR/apt"
  KANIKO_CACHE_DIR: "$CI_PROJECT_DIR/kaniko"

  # pip config
  PIP_TIMEOUT: 30
  PIP_RETRIES: 5
  PIP_TRUSTED_HOST: ""

  # uv config
  UV_VERSION: 0.5
  PYTHON_VERSION: 3.11
  UV_LINK_MODE: copy
  UV_FROZEN: true

.base_test_job_template: &base_test_job_template
  retry:
    max: 2
    when:
      - runner_system_failure
  stage: test
  tags:
    - "k8s_runner_persionnel_matching"
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /^v/ || $CI_COMMIT_TAG"
      when: never
    - if: "$CI_COMMIT_BRANCH"


include:
  - template: Security/Secret-Detection.gitlab-ci.yml

secret_detection:
  <<: *base_test_job_template 
  
check-pre-commit:
  <<: *base_test_job_template 
  image: ${CI_TEMPLATE_REGISTRY_HOST}/library/python:3.11-slim
  before_script:
      - |
        rm -rf /var/lib/apt/lists/* /etc/apt/sources.list.d && \
        echo 'deb https://mirrors.aliyun.com/debian/ bookworm main' > /etc/apt/sources.list && \
        echo 'deb https://mirrors.aliyun.com/debian-security/ bookworm-security main' >> /etc/apt/sources.list && \
        echo 'deb https://mirrors.aliyun.com/debian/ bookworm-updates main' >> /etc/apt/sources.list && \
        apt-get update
      - apt-get install -y --no-install-recommends git
  script:
    - pip install pre-commit==4.2.0 -i https://pypi.org/simple
    - |
      pre-commit run --all-files --show-diff-on-failure

test-project:
  <<: *base_test_job_template
  image: ${CI_TEMPLATE_REGISTRY_HOST}/astral-sh/uv:0.5-python3.11-bookworm-slim
  cache:
    key: ${CI_PROJECT_ID}-test-cache
    paths:
      - "${CI_PROJECT_DIR}/tests/api/cassettes"
  script:
    - uv sync --group dev
    - uv run poe test-ci
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: cov.xml
      junit: report.xml
