name: Pre-Commit Check

on:
  push:
    branches: [ master, main, dev ]
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      PYPI_URL: https://pypi.org/simple
      PYTHON_VERSION: "3.11"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: pip install pre-commit==4.2.0
      - run: pre-commit run --all-files --show-diff-on-failure
