name: Pre-Commit Check

on:
  push:
    branches: [ master, main, dev ]
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      PYPI_URL: https://pypi.org/simple
      PYTHON_VERSION: "3.11"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: pre-commit/action@v3.0.1
      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()
