name: Test Project

on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: "3.11"
      UV_VERSION: "0.5"

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install UV
        run: |
          pip install uv==${{ env.UV_VERSION }}
          uv sync --group dev
      - name: Run Tests
        run: uv run poe test-ci
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
