name: Test Project

on:
  push:
    branches: [ master, main, dev ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: "3.11"
      UV_VERSION: "0.5"

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install UV
        run: |
          pip install uv==${{ env.UV_VERSION }}
          uv sync --group dev
      - name: Run Tests
        run: uv run poe test-ci
      - name: Upload Coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: cov.xml
